﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Datatable demo</h2>
        <p>
            Example of datatable
        </p>
    </div>
</div>
<div class="span12">
    <table class="table table-striped" id="datatab">
        <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                SecurityNumber
            </th>
            <th>
                Phone
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                ISBN
            </th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            IndexModule.initIndexModule(
                '@Url.Action("DataHandler")');
        });
    </script>
}
